.note-form {
  width: 100%;
}

.empty {
  border: 2px dashed #666;
  padding: 10em 0;
  width: 18vw;
  position: relative;
  text-align: center;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -20vw;
    border: 2px dashed #666;
    padding: 10em 0;
    width: 18vw;
    height: 100%;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -20vw;
    border: 2px dashed #666;
    padding: 10em 0;
    width: 18vw;
    height: 100%;
  }
}